<div id="{{ id }}" class="geolocation-common-map" {% if centre.lat is not empty and centre.lng is not empty %} data-centre-lat="{{ centre.lat }}" data-centre-lng="{{ centre.lng }}" {% endif %} {% if zoom is not empty %} data-zoom="{{ zoom }}" {% endif %} {% if fitbounds is not empty %} data-fitbounds="{{ fitbounds }}" {% endif %} {% if mapTypeControl is not empty %} data-mapTypeControl="{{ mapTypeControl }}" {% endif %} {% if streetViewControl is not empty %} data-streetViewControl="{{ streetViewControl }}" {% endif %} {% if zoomControl is not empty %} data-zoomControl="{{ zoomControl }}" {% endif %} {% if scrollwheel is not empty %} data-scrollwheel="{{ scrollwheel }}" {% endif %} {% if disableDoubleClickZoom is not empty %} data-disableDoubleClickZoom="{{ disableDoubleClickZoom }}" {% endif %} {% if draggable is not empty %} data-draggable="{{ draggable }}" {% endif %} {% if height is not empty %} data-height="{{ height|e('html_attr') }}" {% endif %} {% if width is not empty %} data-width="{{ width|e('html_attr') }}" {% endif %} >
    <div class="geolocation-common-map-locations">
    {%  for location in locations %}
        {{ location }}
    {% endfor %}
    </div>
    <div class="geolocation-common-map-container"></div>
</div>
